<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos</title>
    {% include 'bootstrap.html' %}
</head>
<body>
  
  {% include 'menu.html' %}

  <header>
    <center>
      <h1>Nuevos Productos</h1>
    </center>
  </header>

  <center><br><h3>¡Conoce las últimas novedades de nuestra floristería!</h3></center>

  <section class="catalogo">
      <div class="producto">
        <img src="/static/girasoles_1.jpg" alt="Ramo de girasoles" width="400px">
        <h3>Ramo de Girasoles - $25.000</h3>
        <a href="/THE_PINK_DREAM/ramo/1" class="btn btn-info mt-2">Ver más</a>
      </div>

      <div class="producto">
        <img src="/static/tulipanes_1.jpg" alt="Ramo de tulipanes" width="400px">
        <h3>Ramo de Tulipanes - $35.000</h3>
        <a href="/THE_PINK_DREAM/ramo/2" class="btn btn-info mt-2">Ver más</a>
      </div>
  </section>

  <header>
      <center>
        <h1>Ofertas Especiales</h1>
      </center>
  </header>

  <center><br><h3>¡Aprovecha nuestras ofertas por tiempo limitado!</h3></center>

  <section class="catalogo">
      <div class="producto">
        <img src="/static/mixto.jpg" alt="Ramo Mixto">
        <h3>Ramo Mixto - Antes $30.000</h3>
        <br><h3>Ahora $20.000</h3>
        <a href="/THE_PINK_DREAM/ramo/3" class="btn btn-info mt-2">Ver más</a>
      </div>

      <div class="producto">
        <img src="/static/oferta_rosas.jpg" alt="Ramo de Rosas">
        <h3>Ramo de Rosas - Antes $40.000</h3>
        <br><h3>Ahora $25.000</h3>
        <a href="/THE_PINK_DREAM/ramo/4" class="btn btn-info mt-2">Ver más</a>
      </div>

      <div class="producto">
        <img src="/static/ramo_2.webp" alt="Ramo Pequeño">
        <h3>Ramo Pequeño - Antes $15.000</h3>
        <br><h3>Ahora $10.000</h3>
        <a href="/THE_PINK_DREAM/ramo/5" class="btn btn-info mt-2">Ver más</a>
      </div>
  </section>

  <header>
      <center>
          <h1>Catálogo de Ramos</h1>
      </center>
  </header>
  <center><br><h3>¡Encuentra el ramo perfecto para cualquier ocasión!</h3></center>
  
  <section class="catalogo">
      <div class="producto">
          <img src="/static/rojo.jpg" alt="Ramo de Rosas Rojas">
          <h3>Ramo de Rosas Rojas</h3>
          <p>$40.000</p>
          <a href="/THE_PINK_DREAM/ramo/6" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/color_mixto.jpg" alt="Ramo Mixto Colorido">
          <h3>Ramo Mixto Colorido</h3>
          <p>$35.000</p>
          <a href="/THE_PINK_DREAM/ramo/7" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/blancas_margaritas.jpg" alt="Ramo de Margaritas Blancas">
          <h3>Ramo de Margaritas Blancas</h3>
          <p>$20.000</p>
          <a href="/THE_PINK_DREAM/ramo/8" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/tulipanes_2.jpg" alt="Ramo de Tulipanes">
          <h3>Ramo de Tulipanes</h3>
          <p>$30.000</p>
          <a href="/THE_PINK_DREAM/ramo/9" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/lirios.jpg" alt="Ramo de Lirios Elegantes">
          <h3>Ramo de Lirios Elegantes</h3>
          <p>$50.000</p>
          <a href="/THE_PINK_DREAM/ramo/10" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/girasoles_2.jpg" alt="Ramo de Girasoles">
          <h3>Ramo de Girasoles</h3>
          <p>$25.000</p>
          <a href="/THE_PINK_DREAM/ramo/11" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/orquideas.jpg" alt="Ramo de Orquídeas Exóticas">
          <h3>Ramo de Orquídeas Exóticas</h3>
          <p>$60.000</p>
          <a href="/THE_PINK_DREAM/ramo/12" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
          <img src="/static/blancas.jpg" alt="Ramo de Rosas Blancas y Rosas">
          <h3>Ramo de Rosas Blancas</h3>
          <p>$45.000</p>
          <a href="/THE_PINK_DREAM/ramo/13" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
        <img src="/static/rosas_1.jpg" alt="Ramo elegante con rosas" width="400px">
        <h3>Ramo Elegante con Rosas </h3>
        <p>$50.000</p>
        <a href="/THE_PINK_DREAM/ramo/14" class="btn btn-info mt-2">Ver más</a>
      </div>
      <div class="producto">
        <img src="/static/margaritas_1.jpg" alt="Ramo clásico con margaritas" width="400px">
        <h3>Ramo Clásico de Margaritas</h3>
        <p>$30.000</p>
        <a href="/THE_PINK_DREAM/ramo/15" class="btn btn-info mt-2">Ver más</a>
      </div>
  </section>

</body>
</html>
