<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'menu.html' %}

  <!-- Sección NUEVOS PRODUCTOS -->
  <header>
    <center><h1>Nuevos Productos</h1></center>
  </header>
  <center><br><h3>¡Conoce las últimas novedades de nuestra floristería!</h3></center>
  <section class="catalogo">
      {% for p in nuevos %}
        <div class="producto">
          <img src="{{ p.imagen }}" alt="{{ p.nombre }}" width="250px">
          <h3>{{ p.nombre }}</h3>
          <p>${{ "{:,}".format(p.precio) }}</p>
          <a href="/THE_PINK_DREAM/ramo/{{ p.id }}" class="btn btn-info mt-2">Ver más</a>
        </div>
      {% endfor %}
  </section>

  <!-- Sección OFERTAS ESPECIALES -->
  <header>
    <center><h1>Ofertas Especiales</h1></center>
  </header>
  <center><br><h3>¡Aprovecha nuestras ofertas por tiempo limitado!</h3></center>
  <section class="catalogo">
      {% for p in ofertas %}
        <div class="producto">
          <img src="{{ p.imagen }}" alt="{{ p.nombre }}" width="250px">
          <h3>{{ p.nombre }}</h3>
          <p>
            <del>Precio anterior</del> |
            <strong>${{ "{:,}".format(p.precio) }}</strong>
          </p>
          <a href="/THE_PINK_DREAM/ramo/{{ p.id }}" class="btn btn-info mt-2">Ver más</a>
        </div>
      {% endfor %}
  </section>

  <!-- Sección CATÁLOGO GENERAL -->
  <header>
    <center><h1>Catálogo de Ramos</h1></center>
  </header>
  <center><br><h3>¡Encuentra el ramo perfecto para cualquier ocasión!</h3></center>
  <section class="catalogo">
      {% for p in base %}
        <div class="producto">
          <img src="{{ p.imagen }}" alt="{{ p.nombre }}" width="250px">
          <h3>{{ p.nombre }}</h3>
          <p>${{ "{:,}".format(p.precio) }}</p>
          <a href="/THE_PINK_DREAM/ramo/{{ p.id }}" class="btn btn-info mt-2">Ver más</a>
        </div>
      {% endfor %}
  </section>

</body>
</html>
