<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floristería "THE PINK DREAM"</title>
    {% include 'bootstrap.html' %}
    
</head>
<body>

  {% include 'menu.html' %}

  <header>
    <center>
      <h1>Floristería "THE PINK DREAM"</h1>
    </center>
  </header>

<center>
  <br><h2>Bienvenidos a "THE PINK DREAM"</h2>
  <img src="/static/Floristeria_The_Pink_Dream_Logo.jpeg" alt="" width="300px" height="300px">
</center>

  <section>
    <center>
      <br><h5>Descubre los mejores ramos y ofertas en nuestra floristería. Explora nuestras categorías para encontrar el ramo perfecto para cualquier ocasión.</h5>
    </center>
  </section>

<section>
  <header>
    <center>
      <h2>Instrucciones</h2>
    </center>
  </header>

  <center>
  <img src="/static/instrucciones_1.jpeg" height="600px" width="600px" alt="Instrucciones">
  <img src="/static/instrucciones_2.jpeg" height="600px" width="600px" alt="Instrucciones">
  </center>
</section>

    <center>
      <div class="despedida">
        <h1>¡Gracias por visitar nuestra pagina web!</h1>
      </div>
    </center>

  <header>
    <center>
      <h2>Contáctanos</h2>
    </center>
  </header>

  <section>
    <center>
      <br><p>Estamos aquí para ayudarte. Puedes contactarnos por cualquiera de los siguientes medios:</p>
      <ul class="sin-puntos">
        <li><strong>Teléfono:</strong> +57 304 266 8901</li>
        <li><strong>Correo:</strong> thepinkdream1103@gmail.com</li>
        <li><strong>Dirección:</strong> Calle 123, Barranquilla, Atlántico</li>
      </ul>
      <h2>¡Síguenos en nuestras redes sociales!</h2>
    </center>

    <div class="redes-sociales">

      <div class="red-social">
        <a href="https://www.facebook.com/share/1EeUvc9kth/" target="_blank">
          <img src="/static/facebook.png" alt="Facebook" width="50">
        </a>
      </div>

      <div class="red-social">
        <a href="https://www.instagram.com/complaciendocaprichos_bq/?igsh=aXZoZ2RoZHdqcXZq#" target="_blank">
          <img src="/static/instagram.png" alt="Instagram" width="50">
        </a>
      </div>

      <div class="red-social">
        <a href="https://www.tiktok.com/@c.caprichos?_t=ZS-8zfqegtFB4v&_r=1" target="_blank">
          <img src="/static/tiktok.png" alt="TikTok" width="50">
        </a>
      </div>

      <div class="red-social">
        <a href="https://wa.me/message/R5U6U6PD5RYDL1" target="_blank">
          <img src="/static/whatsapp.png" alt="WhatsApp" width="50">
        </a>
      </div>

    </div>
  </section>

</body>
</html>
