<link rel="stylesheet" href="/static/estilo.css">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/THE_PINK_DREAM">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/THE_PINK_DREAM/catalogo">Catálogo</a>
            </li>

            {% if session.get('usuario') %}
                <!-- Mostrar solo si el usuario está logueado -->
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/cerrar_sesion">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/perfil">👤 Bienvenido, {{ session['nombre'] }}</a>
                </li>

            {% else %}
                <!-- Mostrar solo si el usuario NO está logueado -->
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/iniciar_sesion">Iniciar sesión</a>
                </li>
            {% endif %}

            <li class="nav-item">
  <a class="nav-link" href="/THE_PINK_DREAM/carrito">
    🛒 Carrito
    {% if session.get('carrito') %}
      <span class="badge badge-pill badge-success">
        {{ session['carrito']|length }}
      </span>
    {% else %}
      <span class="badge badge-pill badge-secondary">0</span>
    {% endif %}
  </a>
</li>

        </ul>
    </div>
</nav>
