<link rel="stylesheet" href="/static/estilo.css">

<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/THE_PINK_DREAM">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/THE_PINK_DREAM/catalogo">Catálogo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/THE_PINK_DREAM/registro">Registro</a>
            </li>
        </ul>
    </div>
</nav>