<link rel="stylesheet" href="/static/estilo.css">
 
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
    <div class="container-fluid">
        <!-- Botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenedor de enlaces -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/catalogo">Catálogo</a>
                </li>
                {% if session.get('usuario') %}
                    <!-- Mostrar solo si el usuario está logueado -->
                    <li class="nav-item">
                        <a class="nav-link" href="/THE_PINK_DREAM/cerrar_sesion">Cerrar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">  Bienvenido, {{ session['nombre'] }}</a>
                    </li>
                    {% if session.get('rol') == 'admin' %}
                        <!-- Opciones de admin -->
                        <li class="nav-item">
                            <a class="nav-link" href="/THE_PINK_DREAM/admin/productos">Gestionar Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/THE_PINK_DREAM/admin/usuarios">Gestionar Usuarios</a>
                        </li>
                    {% endif %}
                {% else %}
                    <!-- Mostrar solo si el usuario NO está logueado -->
                    <li class="nav-item">
                        <a class="nav-link" href="/THE_PINK_DREAM/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/THE_PINK_DREAM/iniciar_sesion">Iniciar sesión</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/THE_PINK_DREAM/carrito">
                          Carrito
                        {% if session.get('carrito') %}
                            <span class="badge bg-success">
                                {{ session['carrito']|length }}
                            </span>
                        {% else %}
                            <span class="badge bg-secondary">0</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>